body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}
.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: blue;
}

body > div{
    position:  absolute;
}

.box {
    transition: 0.7s;
    border-radius: 50%;
    border:  30px solid transparent;
}

#box_1 {
    width: 50px;
    height: 50px;
}

#box_2 {
    width: 150px;
    height: 150px;
}

#box_3 {
    width: 250px;
    height: 250px;
}

#box_4 {
    width: 350px;
    height: 350px;
}

#box_5 {
    width: 450px;
    height: 450px;
}

#box_6 {
    width: 550px;
    height: 550px;
}